* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;

    text-decoration: none;
    list-style: none;
}

body {
    height: auto;
}

header.sticky {
    background-color: white;
    /* padding: 12px 12%; */
    color: black;
}

header.sticky .navbar a,
header.sticky .logo,
header.sticky .main .dropdown .ri-user-fill {
    color: black;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px 12%;
    transition: all 0.50s ease;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
}

.navlis .navbar {
    display: flex;
    margin-bottom: 0px;
}

.navlis .navbar a {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 15px;
    transition: all 0.50s ease;
    color: black;
}

.navlis .navbar a:hover,
.logo:hover {
    color: rgb(112, 112, 243);
    text-decoration: none;
}

.main {
    display: flex;
}

#menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.ri-user-fill {
    font-size: 25px;
    color: black;
}

.main .dropdown {
    display: inline-block;
    position: relative;
}

.main .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 10px;
    /* box-shadow: opx 8px 16px 0px rgba(0,0,0,0.2); */
    width: 100px;
    right: 0;

}

.main .dropdown .dropdown-content a {
    display: block;
    color: black;
    padding: 5px 7px;
    text-align: center;
}

.main .dropdown .dropdown-content a:hover {
    color: rgb(112, 112, 243);
    text-decoration: none;
}


@media (max-width:890px) {
    header {
        padding: 12px 12%;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
        color: black;
    }
}

@media (max-width:1104px) {
    #menu-icon {
        display: block;
        padding-left: 10px;
        color: black;
        margin-bottom: 0px;
    }

    header.sticky {
        background: white;
        /* padding: 12px 2%; */
        color: black;
    }

    header.sticky #menu-icon {
        color: black;
    }

    header {
        padding: 15px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 160px;
        height: auto;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.50s ease;
    }

    .navlis .navbar a {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: black;
    }

    .navbar a:hover {
        color: blue;
    }

    .navbar.open {
        right: 2%;
    }
}

.feedcontainer {
    width: 65%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    align-items: center;
}

.feedcontainer h2 {
    text-align: center;
    color: #333;
}

.feedcontainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedcontainer label {
    padding-left: 100px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    color: rgb(16, 175, 16);
}

.feedcontainer #ta {
    height: 123px;
    width: 74%;
    /* outline: none; */
}

.feedcontainer input,
select {
    width: 75%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.feedcontainer input:focus,
select:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.feedcontainer  #ta input,
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.feedcontainer #ta input:focus,
select:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.feedcontainer button {
    width: 100px;
    background-color: #4caf50;
    color: #fff;
    padding: 9px;
    border: none;
    margin-top: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.feedcontainer button:hover {
    background-color: #45a049;
}
@media(max-width:1000px){
    .feedcontainer{
        padding: 8px;
        margin: 0px 10px;
        width: 100%;
        margin-top: 90px;
    }
    .feedcontainer label {
        padding-left: 10px;
    }
    .feedcontainer input,
select{
    width: 90%;
}
.feedcontainer .chekoutcontainer #ta input,
select {
    width: 90%;
}
}